In [ ]:
# Installing xlrd package, library for reading data from Excel files

!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.8/dist-packages (1.2.0)

In [ ]:

import pandas as pd
import numpy as np
df =pd.read_excel ('/content/fashion brand details.xlsx', sheet_name='brand details')
df

      brand_id    brand_name
0            1           513
1            2          109F
2            3     20Dresses
3            4   250 Designs
4            5          3Pin
...        ...           ...
1015      1016  Ziva Fashion
1016      1017        Zivame
1017      1018         Ziyaa
1018      1019        Zoella
1019      1020          Zola

[1020 rows x 2 columns]

In [ ]:
# Convert excel file to CSV
df.to_csv('/content/fashion brand details.csv', index=False)
df

      brand_id    brand_name
0            1           513
1            2          109F
2            3     20Dresses
3            4   250 Designs
4            5          3Pin
...        ...           ...
1015      1016  Ziva Fashion
1016      1017        Zivame
1017      1018         Ziyaa
1018      1019        Zoella
1019      1020          Zola

[1020 rows x 2 columns]

In [ ]:
# Import Fashion dataset
df1 = pd.read_csv('/content/fashion dataset.csv')
df1

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'..."
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm..."
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt..."
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod..."
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo..."
...,...,...,...,...,...,...,...,...,...
14324,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous..."
14325,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot..."
14326,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...
14327,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42..."
14328,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42..."

In [ ]:
# Merging both datasets
df1 = pd.read_csv('/content/fashion dataset.csv')
df2 = pd.read_csv('/content/fashion brand details.csv')

df_merged = pd.merge (df1,df2, left_on='brand', right_on='brand_name', how='left')
df_merged

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes,brand_id,brand_name
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'...",242.0,Dupatta Bazaar
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm...",750.0,Roadster
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt...",389.0,Inddus
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod...",NaN,NaN
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo...",482.0,Kotty
...,...,...,...,...,...,...,...,...,...,...,...
14324,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous...",880.0,The Chennai Silks
14325,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot...",471.0,Kinder Kids
14326,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...,NaN,NaN
14327,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42...",NaN,NaN
14328,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42...",NaN,NaN

In [ ]:
# using the 'pandas.DataFrame.to_csv' method used earlier, i saved the merged dataset to a CSV file:

df_merged.to_csv('aaliyahs_merged_fashion_dataset.csv', index=False)
df_merged

,p_id,name,price,colour,brand,ratingCount,avg_rating,description,p_attributes,brand_id,brand_name
0,1518329.0,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,Dupatta Bazaar,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'...",242.0,Dupatta Bazaar
1,5829334.0,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,Roadster,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm...",750.0,Roadster
2,10340119.0,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,Inddus,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt...",389.0,Inddus
3,10856380.0,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,SASSAFRAS,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod...",NaN,NaN
4,12384822.0,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,Kotty,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo...",482.0,Kotty
...,...,...,...,...,...,...,...,...,...,...,...
14324,17029604.0,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,The Chennai Silks,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous...",880.0,The Chennai Silks
14325,17600212.0,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,Kinder Kids,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot...",471.0,Kinder Kids
14326,18159266.0,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,KLOTTHE,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...,NaN,NaN
14327,18921114.0,InWeave Women Red Printed A-Line Skirt,2399.0,Red,InWeave,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42...",NaN,NaN
14328,19361058.0,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,BoStreet,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42...",NaN,NaN

In [ ]:
# To confirm that the current position of our columns, we can print a list of all the
# columns in the dataframe using the df_merged.columns attribute:

print(df_merged.columns)

Index(['p_id', 'name', 'price', 'colour', 'brand', 'ratingCount', 'avg_rating',
       'description', 'p_attributes', 'brand_id', 'brand_name'],
      dtype='object')

In [ ]:
# using the 'pandas.DataFrame.pop' and 'pandas.DataFrame.insert' method to remove and reposition
# the 'brand_id' column on the dataset

brand_id = df_merged.pop('brand_id')

df_merged.insert(1, 'brand_id', brand_id)

In [ ]:
# To confirm that the column has been moved to our desired position, we can print a list of all the
# columns in the dataframe using the 'df_merged.columns' attribute:

print(df_merged.columns)

Index(['p_id', 'brand_id', 'name', 'price', 'colour', 'brand', 'ratingCount',
       'avg_rating', 'description', 'p_attributes', 'brand_name'],
      dtype='object')

In [ ]:
# using the 'pandas.DataFrame.pop' and 'pandas.DataFrame.insert' method to remove and reposition
# the 'brand_name' column on the dataset

brand_name = df_merged.pop('brand_name')

df_merged.insert(2, 'brand_name', brand_name)

In [ ]:
# using the 'pandas.DataFrame.pop' and 'pandas.DataFrame.insert' method to remove and reposition
# the 'brand' column on the dataset

brand = df_merged.pop('brand')

df_merged.insert(3, 'brand', brand)

In [ ]:
# To confirm that the column has been moved to our desired position, we can print a list of all the
# columns in the dataframe using the 'df_merged.columns' attribute:

print(df_merged.columns)

Index(['p_id', 'brand_id', 'brand_name', 'brand', 'name', 'price', 'colour',
       'ratingCount', 'avg_rating', 'description', 'p_attributes'],
      dtype='object')

In [ ]:
# print the merged dataset to view our repositioned columns

df_merged

,p_id,brand_id,brand_name,brand,name,price,colour,ratingCount,avg_rating,description,p_attributes
0,1518329.0,242.0,Dupatta Bazaar,Dupatta Bazaar,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,1321.0,4.548827,White embroidered&nbsp;dupattaChiffon<br>Hand-...,"{'Occasion': 'Daily', 'Pattern': 'Embroidered'..."
1,5829334.0,750.0,Roadster,Roadster,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,5462.0,4.313255,"Mustard yellow solid sweatshirt, has a hood, t...","{'Body Shape ID': '443,424,324', 'Body or Garm..."
2,10340119.0,389.0,Inddus,Inddus,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,145.0,4.068966,Peach-Coloured and beige woven design unstitch...,"{'Bottom Fabric': 'Cotton Blend', 'Bottom Patt..."
3,10856380.0,NaN,NaN,SASSAFRAS,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,9124.0,4.147523,"Black solid woven high-rise parallel trousers,...","{'Add-Ons': 'NA', 'Body Shape ID': '424', 'Bod..."
4,12384822.0,482.0,Kotty,Kotty,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,12260.0,4.078467,"Black dark wash 4-pocket high-rise jeans, clea...","{'Add-Ons': 'NA', 'Brand Fit Name': 'NA', 'Clo..."
...,...,...,...,...,...,...,...,...,...,...,...
14324,17029604.0,880.0,The Chennai Silks,The Chennai Silks,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,NaN,NaN,<b>Design Details </b><ul><li>Pink and silver-...,"{'Better Cotton Initiative': 'Regular', 'Blous..."
14325,17600212.0,471.0,Kinder Kids,Kinder Kids,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,NaN,NaN,"Blue and green printed lehenga choli, has foi...","{'Blouse Closure': 'NA', 'Blouse Fabric': 'Cot..."
14326,18159266.0,NaN,NaN,KLOTTHE,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,NaN,NaN,<ul> <li> Green and black woven palazzos </li>...,{'Body or Garment Size': 'To-Fit Denotes Body ...
14327,18921114.0,NaN,NaN,InWeave,InWeave Women Red Printed A-Line Skirt,2399.0,Red,NaN,NaN,"<p>Red printed A-line skirt, has drawstring cl...","{'Add-Ons': 'NA', 'Body Shape ID': '324,333,42..."
14328,19361058.0,NaN,NaN,BoStreet,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,NaN,NaN,<ul> <li> Navy blue knitted trousers </li> <li...,"{'Add-Ons': 'NA', 'Body Shape ID': '443,333,42..."

In [ ]:

# To clean our dataset, we will delete irrelevant columns, we use the 'pandas.DataFrame.drop' method
#  The columns to be dropped are 'p_id', 'brand_name', 'description', 'p_attributes'

df_merged = df_merged.drop(columns=['p_id', 'brand_name', 'description', 'p_attributes'])
df_merged

,brand_id,brand,name,price,colour,ratingCount,avg_rating
0,242.0,Dupatta Bazaar,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,1321.0,4.548827
1,750.0,Roadster,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,5462.0,4.313255
2,389.0,Inddus,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,145.0,4.068966
3,NaN,SASSAFRAS,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,9124.0,4.147523
4,482.0,Kotty,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,12260.0,4.078467
...,...,...,...,...,...,...,...
14324,880.0,The Chennai Silks,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,NaN,NaN
14325,471.0,Kinder Kids,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,NaN,NaN
14326,NaN,KLOTTHE,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,NaN,NaN
14327,NaN,InWeave,InWeave Women Red Printed A-Line Skirt,2399.0,Red,NaN,NaN
14328,NaN,BoStreet,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,NaN,NaN

In [ ]:
# To proceed with cleaninig our dataset, we will need to replace all Null or NaN values with 0, to do this we will be using the
# 'pandas.DataFrame.fillna' method

# Replace NaN values with 0
df_merged = df_merged.fillna(0)
df_merged

,brand_id,brand,name,price,colour,ratingCount,avg_rating
0,242.0,Dupatta Bazaar,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,1321.0,4.548827
1,750.0,Roadster,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,5462.0,4.313255
2,389.0,Inddus,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,145.0,4.068966
3,0.0,SASSAFRAS,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,9124.0,4.147523
4,482.0,Kotty,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,12260.0,4.078467
...,...,...,...,...,...,...,...
14324,880.0,The Chennai Silks,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,0.0,0.000000
14325,471.0,Kinder Kids,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,0.0,0.000000
14326,0.0,KLOTTHE,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,0.0,0.000000
14327,0.0,InWeave,InWeave Women Red Printed A-Line Skirt,2399.0,Red,0.0,0.000000
14328,0.0,BoStreet,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,0.0,0.000000

In [ ]:
# After removing the null and NaN values, we will proceed to removing duplicate rows

df_merged = df_merged.drop_duplicates()
df_merged

,brand_id,brand,name,price,colour,ratingCount,avg_rating
0,242.0,Dupatta Bazaar,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,1321.0,4.548827
1,750.0,Roadster,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,5462.0,4.313255
2,389.0,Inddus,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,145.0,4.068966
3,0.0,SASSAFRAS,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,9124.0,4.147523
4,482.0,Kotty,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,12260.0,4.078467
...,...,...,...,...,...,...,...
14324,880.0,The Chennai Silks,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,0.0,0.000000
14325,471.0,Kinder Kids,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,0.0,0.000000
14326,0.0,KLOTTHE,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,0.0,0.000000
14327,0.0,InWeave,InWeave Women Red Printed A-Line Skirt,2399.0,Red,0.0,0.000000
14328,0.0,BoStreet,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,0.0,0.000000

In [ ]:
# using the 'pandas.DataFrame.to_csv' method to save our cleaned dataset to a CSV file:

df_merged.to_csv('Cleaned_aaliyahs_merged_fashion_dataset.csv', index=False)
df_merged

,brand_id,brand,name,price,colour,ratingCount,avg_rating
0,242.0,Dupatta Bazaar,Dupatta Bazaar White Embroidered Chiffon Dupatta,899.0,White,1321.0,4.548827
1,750.0,Roadster,Roadster Women Mustard Yellow Solid Hooded Swe...,1199.0,Mustard,5462.0,4.313255
2,389.0,Inddus,Inddus Peach-Coloured & Beige Unstitched Dress...,5799.0,Peach,145.0,4.068966
3,0.0,SASSAFRAS,SASSAFRAS Women Black Parallel Trousers,1499.0,Black,9124.0,4.147523
4,482.0,Kotty,Kotty Women Black Wide Leg High-Rise Clean Loo...,1999.0,Black,12260.0,4.078467
...,...,...,...,...,...,...,...
14324,880.0,The Chennai Silks,The Chennai Silks Pink & Silver-Toned Floral Z...,3999.0,Pink,0.0,0.000000
14325,471.0,Kinder Kids,Kinder Kids Girls Blue & Green Printed Foil Pr...,2050.0,Blue,0.0,0.000000
14326,0.0,KLOTTHE,KLOTTHE Women Green & Black Floral Printed Pal...,1659.0,Green,0.0,0.000000
14327,0.0,InWeave,InWeave Women Red Printed A-Line Skirt,2399.0,Red,0.0,0.000000
14328,0.0,BoStreet,BoStreet Women Navy Blue Tapered Fit Trousers,2599.0,Navy Blue,0.0,0.000000

In [ ]:
print(df_merged.columns)

Index(['brand_id', 'brand', 'name', 'price', 'colour', 'ratingCount',
       'avg_rating'],
      dtype='object')